body {
  background: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}
div.menu {
  width: 10em;
  height: auto;
  cursor: pointer;
}
div.menu ul {
  display: none;
  padding: 1em;
  list-style: none;
}

div.menu li {
  border: 1px solid #ddd;
  padding: .5em;
  background-color: grey;
}

div.menu li:active {
  border: 1px solid #ddd;
  padding: .5em;
  background-color: red;
}



/* div.menu li:nth-of-type(1) {
  background-color: #ffab66;
}

div.menu li:nth-of-type(2) {
  background-color: #9d77a6;
}
div.menu li:nth-of-type(3) {
  background-color: #4cbe88;
}
div.menu li:nth-of-type(4) {
  background-color: #ffe700;
}

div.menu li:nth-of-type(5) {
  background-color: #006db2;
}



/* purple  */